# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [25]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time
import datetime
from scipy.stats import linregress
import api_keys
from pprint import pprint


# Import API key(from weather and google api)
from api_keys import g_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [26]:
# Load the csv from output data file (Part I)
output_file = "../cities_output2.csv"


# Create DataFrame for output data file from cities/weather (Part I)
output_df = pd.read_csv(r'../cities_output2.csv')
output_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp (F),Wind Speed
0,hilo,90,US,1627242314,85,19.7297,-155.0900,81.81,4.61
1,jamestown,40,US,1627242056,57,42.0970,-79.2353,85.32,9.73
2,vaini,20,TO,1627242314,94,-21.2000,-175.2000,68.16,0.00
3,port alfred,58,ZA,1627242314,43,-33.5906,26.8910,61.18,11.21
4,dikson,100,RU,1627242310,85,73.5069,80.5464,39.42,14.88

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [27]:
# Configure gmaps
gmaps.configure(api_key = g_key)

# Define locations
locations = output_df[["Lat", "Lng"]]

# Define humidity
#humidity = output_df["Humidity"].astype(float)
humidity = output_df["Humidity"]

#fig = gmaps.figure()
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=3)
max_intensity = np.max(humidity)

# Create heat layer

#heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=5, point_radius=1)
heatmap_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=4)

fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
max_intensity

100

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [30]:
#Define first Dataframe, focusing on Max Temp, Wind Speed, and Cloudines

# Create base DataFrame
output_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp (F),Wind Speed
0,hilo,90,US,1627242314,85,19.7297,-155.0900,81.81,4.61
1,jamestown,40,US,1627242056,57,42.0970,-79.2353,85.32,9.73
2,vaini,20,TO,1627242314,94,-21.2000,-175.2000,68.16,0.00
3,port alfred,58,ZA,1627242314,43,-33.5906,26.8910,61.18,11.21
4,dikson,100,RU,1627242310,85,73.5069,80.5464,39.42,14.88

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure